In [12]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [25]:
_ = importlib.reload(asql)
_ = importlib.reload(sql)

qry = """  
    select *
    from loans
"""

qry = asql.question_5()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

,CustomerID,JanuaryRepayments,JanuaryTotal,FebruaryRepayments,FebruaryTotal,MarchRepayments,MarchTotal,AprilRepayments,AprilTotal,MayRepayments,...,AugustRepayments,AugustTotal,SeptemberRepayments,SeptemberTotal,OctoberRepayments,OctoberTotal,NovemberRepayments,NovemberTotal,DecemberRepayments,DecemberTotal
0,1,0,0,0,0,0,0,1,479,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,359,0,0,1,352,0,0,0,...,0,0,0,0,0,0,0,0,1,58
2,3,2,413,0,0,1,154,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,1,123,0,0,0,0,0,0
4,5,0,0,0,0,0,0,1,468,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,997,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,998,0,0,0,0,0,0,0,0,0,...,0,0,1,294,0,0,1,133,0,0
998,999,0,0,0,0,0,0,0,0,0,...,0,0,1,95,0,0,0,0,0,0
999,1000,1,301,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [62]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)