In [2]:
import Python as py
import os
import pandas as pd

In [3]:
import os
import pandas as pd
root = os.getcwd()
df_scheduled = pd.read_csv(root + '/data/scheduled_loan_repayments.csv')
df_actual = pd.read_csv(root + '/data/actual_loan_repayments.csv')
df_balances = py.calculate_df_balances(df_scheduled,df_actual)

In [4]:
df_balances

,RepaymentID,LoanID,Month,ActualRepayment,LoanAmount,ScheduledRepayment,LoanBalanceStart,LoanBalanceEnd,InterestPayment,ScheduledPrincipal,UnscheduledPrincipal
0,544.0,1,1,2399.54,52000.0,2399.54,52000.00,50033.79,433.33,1966.21,0.0
1,1313.0,1,2,2399.54,52000.0,2399.54,50033.79,48051.20,416.95,1982.59,0.0
2,2551.0,1,3,2399.54,52000.0,2399.54,48051.20,46052.09,400.43,1999.11,0.0
3,3636.0,1,4,2399.54,52000.0,2399.54,46052.09,44036.32,383.77,2015.77,0.0
4,4300.0,1,5,2399.54,52000.0,2399.54,44036.32,42003.74,366.97,2032.57,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11995,7973.0,1000,8,2768.70,60000.0,2768.70,43716.52,41312.12,364.30,2404.40,0.0
11996,8115.0,1000,9,2768.70,60000.0,2768.70,41312.12,38887.69,344.27,2424.43,0.0
11997,9867.0,1000,10,2768.70,60000.0,2768.70,38887.69,36443.05,324.06,2444.64,0.0
11998,10128.0,1000,11,2768.70,60000.0,2768.70,36443.05,33978.05,303.69,2465.01,0.0
11999,11719.0,1000,12,2768.70,60000.0,2768.70,33978.05,31492.50,283.15,2485.55,0.0